<mat-toolbar color="primary">Weather for {{result.city}}</mat-toolbar>
<mat-card>
    <agm-map [zoom]="12" [latitude]="result.coord_latitude" [longitude]="result.coord_longitude">
        <agm-marker [latitude]="result.coord_latitude" [longitude]="result.coord_longitude"></agm-marker>
      </agm-map>
  <mat-card-content>
    <p>
      {{result.coord_longitude}}
      {{result.coord_latitude}}
      {{result.weather_main}}
      {{result.weather_description}}
      {{result.weather_icon}}
      {{result.main_temp}}
      {{result.main_pressure}}
      {{result.main_humidity}}
      {{result.main_temp_min}}
      {{result.main_temp_max}}
      {{result.visibility}}
      {{result.wind_speed}}
      {{result.wind_deg}}
      {{result.clouds}}
      {{result.datetime}}
      {{result.sunrise}}
      {{result.sunset}}
      {{result.city}}
      {{result.country}}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="goBack()"><mat-icon>keyboard_backspace</mat-icon></button>
    <button mat-button><mat-icon>thumb_up</mat-icon></button>
    <button mat-button><mat-icon>share</mat-icon></button>
  </mat-card-actions>
</mat-card>
