<mat-toolbar color="primary">Weather for {{result.city}}<img src="{{result.weather_icon}}" alt="Weather Icon" height="42" width="42"></mat-toolbar>

<!-- google map -->
<agm-map [zoom]="12" [latitude]="result.coord_latitude" [longitude]="result.coord_longitude">
  <agm-marker [latitude]="result.coord_latitude" [longitude]="result.coord_longitude"></agm-marker>
</agm-map>

<mat-toolbar>Report Time: {{result.datetime}}</mat-toolbar>
<mat-card>
  <mat-card-content fxLayout="column" style="font-size: 1em; font-weight: 500;">
    <p>
      Sky Condition: {{result.weather_main}} - {{result.weather_description}}
    </p>
    <p>
      Temperature: {{result.main_temp}}
      <br>
      Low to High: {{result.main_temp_min}} - {{result.main_temp_max}}
    </p>
    <p>
      Pressure: {{result.main_pressure}}
    </p>
    <p>
      Humidity: {{result.main_humidity}}
    </p>
    <p>
      Cloud Obscurity: {{result.clouds}}
    </p>
    <p>
      Wind Speed: {{result.wind_speed}}
    </p>
    <p>
      Visibility: {{result.visibility}}
    </p>
    <p>
      Sunrise: {{result.sunrise}}
    </p>
    <p>
      Sunset: {{result.sunset}}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="goBack()"><mat-icon>keyboard_backspace</mat-icon></button>
    <button mat-button><mat-icon>thumb_up</mat-icon></button>
    <button mat-button><mat-icon>share</mat-icon></button>
  </mat-card-actions>
</mat-card>
