<mat-toolbar color="primary">Add/Select City for Weather Summary</mat-toolbar>

<form [formGroup]="cityForm" (ngSubmit)="onSubmit()" novalidate fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field>
    <input matInput placeholder="City Name" formControlName="city">
  </mat-form-field>
  <button mat-raised-button color="primary" style= "margin:0.2em;" type="submit" [disabled]="cityForm.pristine">Save</button>
  <button mat-raised-button color="primary" style= "margin:0.2em;" type="reset" (click)="reset()" [disabled]="cityForm.pristine">Reset</button>
</form>

<mat-list>
  <mat-list-item *ngFor="let city of listOfCities, let i = index">
    <button mat-raised-button color="accent" (click)="navigateToList(city)"> {{city | uppercase}} </button>
    <button mat-mini-fab color="warn" style= "margin:0.2em;" (click)="deleteCity(i)"> X </button>
  </mat-list-item>
</mat-list>